/venv*
/works
/dataset*
/output
/model*

/servers/microphone-server/node_modules
/servers/microphone-server/data
/servers/data*

.DS_Store
__pycache__
model/__pycache__

/raw_dataset_builder/podcast_mp3*